[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/snes9x"]
	path = thirdparty/snes9x
	url = https://github.com/libretro/snes9x.git
